{% extends "general.html" %}
{% block content %}

	<section class="Profile">
		<div class="Profile_container">
			<form enctype="multipart/form-data">
				<input type="file" name="archivo">
			</form>
			<div class="Profile_container_avatar">
				<div id="avatarLight" class="Profile_container_avatar_light"></div>
				<div id="avatarDark" class="Profile_container_avatar_dark">
					<p>Cambiar</p>
				</div>
				<div class="Profile_container_avatar_photo"></div>
			</div>
			<p class="Profile_container_email">{{ correo }}</p>
			<form>
				<p id="msg_nombre" class="msg_validation_error invisible"></p>
				<input type="text" placeholder="Nombre" class="text_form Profile_container_text" value="{{ nombre }}">
				<div class="Profile_container_select">
					<select class="Profile_container_studies">
						{% for opcion in opciones %}
							<option value="{{ opcion.id }}">{{ opcion.grado }}</option>
						{% endfor %}
					</select>
				</div>
				<button class="btn_form Profile_container_btn_one" onclick="save_profile_changes(event);">
					Guardar cambios
				</button>
			</form>
			<div class="Login_container_line">
				<div class="Login_container_line_l"></div>
			</div>
			<div class="Profile_container_changeP">
				<p class="Profile_container_changeP_p">Cambiar contraseña</p>
				<form>
					<p id="msg_contra" class="msg_validation_error invisible"></p>
					<input type="password" id="contra" placeholder="Nueva contraseña" class="text_form Profile_container_text">
					<p id="msg_contraDos" class="msg_validation_error"></p>
					<input type="password" id="contraDos" placeholder="Confirmar nueva contraseña" class="text_form Profile_container_text">
					<button class="btn_form Profile_container_btn" onclick="change_password(event);">
						Cambiar contraseña
					</button>
				</form>
			</div>
		</div>
	</section>

	<script type="text/javascript">
		var imgContainer = document.getElementById('avatarLight');
		var imgDark = document.getElementById('avatarDark');
		imgContainer.onmouseover = function(){
			imgDark.classList.add('opacity_full');
		};
		imgContainer.onmouseout = function(){
			imgDark.classList.remove('opacity_full');
		};
	</script>

{% endblock %}

