body {
  background-color: #f5f5f6;
  font-family: 'Roboto', sans-serif;
  color: #373737;
}
header {
  background-color: #069;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-heigth: 50px;
  max-heigth: 50px;
  padding: 0 1em;
  display: flex;
  height: 50px;
  z-index: 99;
}
.NavigationBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.NavigationBar_appname {
  flex-basis: 40%;
}
.NavigationBar_appname_p {
  margin-left: 1.5em;
}
.NavigationBar_options {
  flex-basis: 40%;
  max-width: 500px;
}
.NavigationBar_options_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.NavigationBar_options_ul_avatar {
  display: flex;
  margin-right: 2em;
}
.NavigationBar_options_ul_link {
  text-decoration: none;
  opacity: 1;
  color: #fff;
}
.NavigationBar_options_ul_link:hover {
  color: #fff;
}
.NavigationBar_options_ul_form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavigationBar_options_ul_logout {
  padding: 0.5em;
  border-radius: 5px;
}
.NavigationBar_options_ul_logout:hover {
  cursor: pointer;
  background-color: #003c6b;
}
.NavigationBar_options_avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url("/static/images/avatarDefault.png");
  background-color: #fff;
  background-size: cover;
  background-position: center;
  margin-left: 1em;
}
.Alert,
.NewProjects {
  position: fixed;
  z-index: 100;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.Alert_header,
.NewProjects_header {
  background-color: #ba0a76;
  min-height: 55px;
  max-height: 65px;
  padding: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.1em;
}
.Alert_message,
.NewProjects_message {
  flex-basis: 60%;
  max-width: 400px;
  background-color: #e1e2e1;
}
.Alert_text,
.NewProjects_text {
  padding: 25px;
}
.Alert_container_btn,
.NewProjects_container_btn {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.Alert_btn,
.NewProjects_btn {
  flex-basis: 50%;
  max-width: 150px;
}
.AMessage {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 0 10px #808080;
  margin-bottom: 10vh;
  margin-right: -300px;
  transition: all 0.4s ease-out;
}
.AMessage_icon_container {
  flex-basis: 30%;
  text-align: center;
  font-size: 2em;
  color: #008000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AMessage_text {
  flex-basis: 70%;
  font-size: 1.1em;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-child {
  margin-right: 0.5em;
}
li:last-child {
  display: flex;
  align-items: center;
}
li p {
  padding: 0.5em;
  border-radius: 5px;
}
li p:hover {
  cursor: pointer;
  background-color: #003c6b;
}
p {
  margin: 0;
  padding: 0;
}
a {
  color: #4e94ca;
  text-decoration: none;
}
a:hover {
  color: #ba0a76;
}
.text_form {
  padding: 10px;
  border-radius: 5px;
  border: solid;
  border-color: #e1e2e1;
  border-width: thin;
  font-size: 16px;
  margin: 0.3em 0;
  color: #373737;
}
.btn_form {
  margin: 0;
  padding: 0;
  padding: 0.7em;
  background-color: #fff;
  border-radius: 5px;
  border: solid;
  border-color: #e1e2e1;
  border-width: thin;
  font-size: 1em;
  color: #373737;
}
.btn_form:hover {
  cursor: pointer;
  color: #fff;
  background-color: #85004a;
}
.btn_form:focus {
  outline: none;
}
.invisible {
  display: none;
}
.visible {
  opacity: 1;
}
.hide {
  width: 0;
  opacity: 0;
  position: absolute;
}
.invalid_field {
  border-color: #d12b2b;
}
.invalid_field::placeholder {
  color: #d12b2b;
  opacity: 1;
}
.msg_validation_error {
  font-size: 12px;
  color: #d12b2b;
  margin: 0;
}
.msg_validation_error_projects {
  flex-basis: 100%;
  text-align: center;
}
.msg_margin {
  margin-top: 1em;
}
.Recuperacion_container_form_p {
  margin: 1em;
}
.aside_message_show {
  margin-right: 15px;
}
.star {
  font-size: 1.5em;
  color: #ba0a76;
  margin-right: 0.1em;
}
.star:hover:before {
  content: "\e9d9";
}
.Login {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.Login h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-size: 1.7em;
}
.Login_container {
  min-width: 400px;
  max-width: 400px;
}
.Login_container_form {
  width: 80%;
  display: inline-block;
}
.Login_container_form form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Login_container_text {
  flex-basis: 100%;
}
.Login_container_p {
  flex-basis: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.Login_container_p p {
  flex-basis: 100%;
  font-size: 0.8em;
}
.Login_container_submit {
  background-color: #85004a;
  border: none;
  color: #fff;
  margin: 1em 0;
  flex-basis: 100%;
}
.Login_container_submit:hover {
  background-color: #ba0a76;
}
.Login_container_line {
  margin: 1em 0;
  flex-basis: 100%;
}
.Login_container_line_l {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 2px;
  border-radius: 5px;
  background-color: #e1e2e1;
  display: inline-block;
  margin-bottom: 0.5em;
}
.Login_container_line p {
  font-size: 0.8em;
}
.Login_container_change {
  flex-basis: 100%;
}
.Login_container_change:hover {
  background-color: #85004a;
}
.Recuperacion_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Recuperacion_container_p {
  flex-basis: 100%;
}
.Recuperacion_container_form {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Recuperacion_container_form_text {
  flex-basis: 100%;
}
.Profile {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  text-align: center;
}
.Profile_container {
  min-width: 400px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Profile_container_avatar {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  height: 200px;
  margin-bottom: 30px;
  align-items: center;
  position: relative;
  z-index: 1;
}
.Profile_container_avatar_light {
  background-color: rgba(0,0,0,0);
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}
.Profile_container_avatar_dark {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  align-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
.Profile_container_avatar_photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}
.Profile_container_email {
  flex-basis: 100%;
  margin-bottom: 2em;
}
.Profile_container_changeP {
  margin-top: 2em;
}
.Profile_container form {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Profile_container_text {
  flex-basis: 100%;
}
.Profile_container_select {
  border: thin solid #e1e2e1;
  height: 40px;
  width: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  margin: 0.3em 0;
}
.Profile_container_select::after {
  content: "\025be";
  display: table-cell;
  padding-top: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  background-color: #ba0a76;
  color: #fff;
}
.Profile_container_studies {
  flex-basis: 100%;
  padding: 10px;
  background: transparent;
  font-size: 16px;
  color: #373737;
  border: none;
  width: 420px;
  height: 40px;
}
.Profile_container_studies:hover {
  cursor: pointer;
  background-color: #e1e2e1;
}
.Profile_container_studies:focus {
  outline: 0;
  border: none;
  box-shadow: none;
}
.Profile_container_btn,
.Profile_container_btn_one {
  flex-basis: 100%;
  margin-top: 0.5em;
}
.Profile_container_btn:hover,
.Profile_container_btn_one:hover {
  background-color: #85004a;
}
.opacity_full {
  opacity: 1;
}
.Projects {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.Projects_c {
  max-width: 1000px;
  flex-basis: 80%;
}
.Projects_options {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}
.Projects_options_btn {
  margin-right: 1.5em;
}
.Projects_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Projects_container_project {
  padding: 20px;
  background-color: #e1e2e1;
  width: 230px;
  min-height: 280px;
  color: #373737;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 1.5em;
}
.Projects_container_project:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #808080;
}
.Projects_container_project_name {
  flex-basis: 100%;
  font-size: 1em;
}
.Projects_container_project_date {
  font-size: 0.8em;
  flex-basis: 100%;
  margin-top: 0.4em;
}
.Projects_container_project_image {
  background-image: url("/static/images/imagenProyecto.jpg");
  background-size: cover;
  background-position: center;
  width: 230px;
  height: 230px;
  margin-top: 20px;
}
.NewProjects_header_fixed {
  justify-content: space-between;
}
.NewProjects_cancel {
  border-radius: 5px;
  padding: 10px;
}
.NewProjects_cancel:hover {
  cursor: pointer;
  background-color: #85004a;
}
.NewProjects_newtext {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 10px;
}
.NewProjects_newnombre {
  flex-basis: 60%;
  color: #373737;
}
.NewProjects_newbtn {
  flex-basis: 30%;
}
.NewProjects_p {
  flex-basis: 100%;
}
.Translations {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.Translations_container {
  max-width: 1000px;
  flex-basis: 80%;
}
.Translations_project {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 3em;
}
.Translations_project_options {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.Translations_project_options button {
  flex-basis: 40%;
}
.Translations_project_options button:first-child {
  margin-right: 10px;
}
.Translations_project_description {
  flex-basis: 50%;
}
.Translations_project_description_name {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
.Translations_project_description_nametxt {
  margin: 0 0 0.5em 0;
  width: 80%;
}
.Translations_project_download {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  align-items: flex-start;
}
.Translations_project_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  padding: 15px 25px;
  height: 100px;
  background-color: #e1e2e1;
}
.Translations_project_container:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #808080;
}
.Translations_project_container:last-child {
  margin-bottom: 3em;
}
.Translations_project_container_translation {
  flex-basis: 20%;
}
.Translations_project_container_image {
  width: 100px;
  height: 100px;
  background-image: url("/static/images/imagenProyecto.jpg");
  background-size: cover;
  background-position: center;
}
.Translations_project_container_info {
  flex-basis: 25%;
}
.Translations_project_container_example {
  flex-basis: 25%;
  max-height: 100px;
  overflow: none;
}
.Translations_project_container_copy {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  justify-content: flex-end;
}
.Translations_project_container_btn {
  flex-basis: 70%;
}
.Translations_project_container_info_stars {
  display: flex;
  justify-content: center;
  justify-content: left;
  margin-top: 1em;
}
.TranslationMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 120;
  display: flex;
  justify-content: center;
  justify-content: right;
}
.TranslationMenu_container {
  height: 100vh;
  flex-basis: 40%;
  min-width: 320px;
  background-color: #f5f5f6;
}
#NewProjects_btn_delete {
  margin: 15px 0;
  flex-basis: 50%;
}
.add_project {
  width: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  transition: all 0.8s ease-out;
}
.add_project_animate {
  width: min-content;
  opacity: 1;
  padding: 20px;
  margin: 1.5em;
}
