project_width = 230px
project_height = 280px
project_padding = 20px

.Projects
	margin-top 120px
	make_flex()
	
	&_c 
		max-width 1000px
		flex-basis 80%
	
	&_options
		display flex 
		justify-content flex-end
		margin-bottom 1em
		
		&_btn
			margin-right 1.5em
	
	&_container
		make_flex()
		flex-wrap wrap
		
		&_project
			padding project_padding
			background-color fill_color_dark
			width project_width
			min-height project_height
			color font_color
			make_flex()
			flex-wrap wrap
			align-content flex-start
			margin 1.5em
			
			&:hover
				cursor pointer
				box-shadow 0 0 5px gray
			
			&_name
				flex-basis 100%
				font-size 1em

			&_date
				font-size 0.8em
				flex-basis 100%
				margin-top 0.4em
				
			&_image
				background-image get_link_image('imagenProyecto.jpg')
				background-size cover
				background-position center
				width project_width
				height project_width
				margin-top 20px


.NewProjects
	
	&_header_fixed
		justify-content space-between
		
	&_cancel
		border-radius 5px
		padding 10px
		
		&:hover
			cursor pointer
			background-color secondary_color_dark
			
	&_newtext
		make_flex()
		align-items center
		justify-content space-around
		flex-wrap wrap
		padding 20px 10px
	
	&_newnombre
		flex-basis 60%
		color font_color
	
	&_newbtn
		flex-basis 30%
		
	&_p
		flex-basis 100%

.Translations
	margin-top 100px
	make_flex()
	
	&_container
		max-width 1000px
		flex-basis 80%
		

	&_project
		make_flex()
		justify-content space-around
		margin-bottom 3em
		
		&_options
			flex-basis 20%
			make_flex()
			align-items flex-start
			
			& button
				flex-basis 40%
				
				&:first-child
					margin-right 10px
		
		&_description
			flex-basis 50%
			
			&_name
				font-size 1.3em
				margin-bottom 0.5em
				
			&_nametxt
				margin 0 0 0.5em 0
				width 80%
		
		&_download
			flex-basis 30%
			make_flex()
			justify-content flex-end
			align-items flex-start
		
		&_container
			make_flex()
			align-items center
			margin 1em 0
			padding 15px 25px
			height 100px
			background-color fill_color_dark
			
			&:hover
				cursor pointer
				box-shadow 0 0 5px gray
				
			&:last-child
				margin-bottom 3em
			
			&_translation
				flex-basis 20%
			
			&_image
				width 100px
				height 100px
				background-image get_link_image('imagenProyecto.jpg')
				background-size cover
				background-position center
				
			&_info
				flex-basis 25%
			
			&_example
				flex-basis 25%
				max-height 100px
				overflow none
				
			&_copy
				flex-basis 30%
				make_flex()
				justify-content flex-end
				
			&_btn
				flex-basis 70%;
				

.TranslationMenu
	position fixed
	top 0
	bottom 0
	right 0
	left 0
	background-color rgba(0,0,0,0.6)
	z-index 120
	make_flex()
	justify-content right
	
	&_container
		height 100vh
		flex-basis 40%
		min-width 320px
		background-color fill_color


#NewProjects_btn_delete
	margin 15px 0
	flex-basis 50%


.add_project
	width 0
	opacity 0
	padding 0
	margin 0
	transition all 0.8s ease-out
	
.add_project_animate
	width min-content
	opacity 1
	padding project_padding
	margin 1.5em





















