<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
	<title>{% block appname %}TT App{% endblock %}</title>
</head>
<body>
	<div id="Messages">
		{% if nMessages > 0 %}
			{% for message in messages %}
				{% if message.type == "alert" %}
					<div id="m{{ message.id }}" class="Alert invisible">
						<div class="Alert_message">
							<div class="Alert_header">
								<p>{{ message.header }}</p>
							</div>
							<div class="Alert_text">{{ message.text }}</div>
							<div class="Alert_container_btn">
								<button class="btn_form Alert_btn" onclick="close_alert(m{{ message.id }});">
									{{ message.btn }}
								</button>
							</div>
						</div>
					</div>
				{% elif message.type == "validation_error" %}
					<div id="m{{ message.id }}" class="VError">
						<input type="hidden" class="VError_text" value="{{ message.text }}">
						<input type="hidden" class="VError_name" value="{{ message.name }}">
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		<div id="aside_message" class="AMessage">
			<div class="AMessage_icon_container">
				<span class="icon-checkmark"></span>
			</div>
			<div class="AMessage_text">
				<p id="aside_message_p"></p>
			</div>
		</div>
	</div>
	<header>
		<nav class="NavigationBar">
			<div class="NavigationBar_appname">
				<p class="NavigationBar_appname_p">TT App</p>
			</div>
			{% if nombre != None %}
			<div class="NavigationBar_options">
				<ul class="NavigationBar_options_ul">
					<li>
						<p><a class="NavigationBar_options_ul_link" href="/proyectos/todos">Mis proyectos</a></p>
					</li>
					<li>
						<p><a id="a_user_name" class="NavigationBar_options_ul_link" href="/usuarios/perfil">{{ nombre }}</a></p>
						<div class="NavigationBar_options_avatar" style="background-image:url('{{MEDIA_URL}}{{avatar}}');"></div>
					</li>
				</ul>
			</div>
			{% endif %}
		</nav>
	</header>
	{% block content %}{% endblock %}

	<script  type="text/javascript" src="{% static 'js/acciones.js' %}"></script>

	{% if proyecto.id != None %}
		<script type="text/javascript">
			function copy(event) {
				let id = event.target.id.replace('btn_t_', 't_');
				let txt = document.createElement('textarea');
				document.body.appendChild(txt);
				txt.textContent = document.getElementById(id).value;
				console.log(txt.value)
				txt.select();
				document.execCommand("copy");
				txt.remove();
				show_aside_message('Texto copiado al portapapeles.');
			}

			{% for traduccion in traducciones %}
				document.querySelector("#btn_t_{{ traduccion.id }}").addEventListener("click", copy);
			{% endfor %}
		</script>
	{% endif %}

</body>
</html>