{% extends 'general.html' %}
{% block content %}

	<section class="Proyects">

		<div class="Proyects_c">
			<div class="Proyects_options">
				<button class="btn_form Proyects_options_btn">Crear Proyecto</button>
			</div>

			<div class="Proyects_container">
				
				<div class="Proyects_container_proyect">
					<p class="Proyects_container_proyect_name">Nombre del proyecto</p>
					<p class="Proyects_container_proyect_date">27/10/2019</p>
					<div class="Proyects_container_proyect_image"></div>
				</div>

				<div class="Proyects_container_proyect">
					<p class="Proyects_container_proyect_name">Nombre del proyecto</p>
					<p class="Proyects_container_proyect_date">27/10/2019</p>
					<div class="Proyects_container_proyect_image"></div>
				</div>

				<div class="Proyects_container_proyect">
					<p class="Proyects_container_proyect_name">Nombre del proyecto</p>
					<p class="Proyects_container_proyect_date">27/10/2019</p>
					<div class="Proyects_container_proyect_image"></div>
				</div>

				<div class="Proyects_container_proyect">
					<p class="Proyects_container_proyect_name">Nombre del proyecto</p>
					<p class="Proyects_container_proyect_date">27/10/2019</p>
					<div class="Proyects_container_proyect_image"></div>
				</div>

				<div class="Proyects_container_proyect">
					<p class="Proyects_container_proyect_name">Nombre del proyecto</p>
					<p class="Proyects_container_proyect_date">27/10/2019</p>
					<div class="Proyects_container_proyect_image"></div>
				</div>

			</div>
		</div>
		
	</section>


	<template id="proyectTemplate">
		<div class="Proyects_container_proyect">
			<p class="Proyects_container_proyect_name"></p>
			<p class="Proyects_container_proyect_date"></p>
			<div class="Proyects_container_proyect_image"></div>
		</div>
	</template>

{% endblock %}