{% extends 'general.html' %}
{% block content %}

	<section class="Translations">
		<div class="Translations_container">
			<div class="Translations_proyect">
				<div class="Translations_proyect_description">
					<p class="Translations_proyect_description_name">{{ proyecto.nombre }}</p>
					<p class="Translations_proyect_description_cdate">Creado: {{ proyecto.fechaCreacion }}</p>
					<p class="Translations_proyect_description_udate">Última modificación: {{ proyecto.fechaModificacion }}</p>		
				</div>
				<div class="Translations_proyect_download">
					<button class="btn_form Translations_proyect_download_btn">
						Descargar proyecto
					</button>
				</div>
			</div>
			
			<div class="Translations_proyect_container">
				<div class="Translations_proyect_container_translation">
					<div class="Translations_proyect_container_image"></div>
				</div>
				<div class="Translations_proyect_container_info">
					<p class="Translations_proyect_container_info_date">27/10/2019</p>
					<div class="Translations_proyect_container_info_stars">
						<span>s</span>
						<span>s</span>
						<span>s</span>
						<span>s</span>
						<span>s</span>
					</div>
				</div>
				<div class="Translations_proyect_container_example">
					<p>\frac{exp^{2x}-2x^{3}+2}{ln(2x)} + log(x^{2} + 3)</p>
				</div>
				<div class="Translations_proyect_container_copy">
					<button class="btn_form Translations_proyect_container_btn">
						Copiar
					</button>
				</div>
			</div>

			<div class="Translations_proyect_container">
				<div class="Translations_proyect_container_translation">
					<div class="Translations_proyect_container_image"></div>
				</div>
				<div class="Translations_proyect_container_info">
					<p class="Translations_proyect_container_info_date">27/10/2019</p>
					<div class="Translations_proyect_container_info_stars">
						<span>s</span>
						<span>s</span>
						<span>s</span>
						<span>s</span>
						<span>s</span>
					</div>
				</div>
				<div class="Translations_proyect_container_example">
					<p>\frac{exp^{2x}-2x^{3}+2}{ln(2x)} + log(x^{2} + 3)</p>
				</div>
				<div class="Translations_proyect_container_copy">
					<button class="btn_form Translations_proyect_container_btn">
						Copiar
					</button>
				</div>
			</div>

			<div class="Translations_proyect_container">
				<div class="Translations_proyect_container_translation">
					<div class="Translations_proyect_container_image"></div>
				</div>
				<div class="Translations_proyect_container_info">
					<p class="Translations_proyect_container_info_date">27/10/2019</p>
					<div class="Translations_proyect_container_info_stars">
						<span>s</span>
						<span>s</span>
						<span>s</span>
						<span>s</span>
						<span>s</span>
					</div>
				</div>
				<div class="Translations_proyect_container_example">
					<p>\frac{exp^{2x}-2x^{3}+2}{ln(2x)} + log(x^{2} + 3)</p>
				</div>
				<div class="Translations_proyect_container_copy">
					<button class="btn_form Translations_proyect_container_btn">
						Copiar
					</button>
				</div>
			</div>

			<div class="Translations_proyect_container">
				<div class="Translations_proyect_container_translation">
					<div class="Translations_proyect_container_image"></div>
				</div>
				<div class="Translations_proyect_container_info">
					<p class="Translations_proyect_container_info_date">27/10/2019</p>
					<div class="Translations_proyect_container_info_stars">
						<span>s</span>
						<span>s</span>
						<span>s</span>
						<span>s</span>
						<span>s</span>
					</div>
				</div>
				<div class="Translations_proyect_container_example">
					<p>\frac{exp^{2x}-2x^{3}+2}{ln(2x)} + log(x^{2} + 3)</p>
				</div>
				<div class="Translations_proyect_container_copy">
					<button class="btn_form Translations_proyect_container_btn">
						Copiar
					</button>
				</div>
			</div>



		</div>	
	</section>

{% endblock %}