{% extends 'general.html' %}
{% block content %}

	<!-- <div class="TranslationMenu">
		<div class="TranslationMenu_container">
			<div class="TranslationMenu_container_info">
				
			</div>
		</div>
	</div> -->

	<div class="NewProjects DeleteProjects invisible">
		<div class="NewProjects_message">
			<div class="NewProjects_header NewProjects_header_fixed">
				<p>¿Eliminar proyecto?</p>
				<span id="NewProjects_cancel_btn" class="icon-cross NewProjects_cancel" onclick="hidde_new_projects();"></span>
			</div>
			<div class="NewProjects_newtext">
				<p>Esta seguro(a) de eliminar el proyecto {{ proyecto.nombre }}.</p>
				<button id="NewProjects_btn_delete" class="NewProjects_newbtn btn_form" onclick="delete_project();">Eliminar projecto</button>
			</div>
		</div>
	</div>

	<section class="Translations">
		<div class="Translations_container">
			<div class="Translations_project">
				<div class="Translations_project_description">
					<input type="hidden" value="{{ proyecto.id }}" id="project_id">
					<input type="hidden" value="{{ proyecto.nombre }}" id="project_name">
					<p class="Translations_project_description_name">{{ proyecto.nombre }}</p>
					<p id="msg_badprojectname" class="msg_validation_error invisible"></p>
					<input type="text" class="text_form Translations_project_description_nametxt invisible" placeholder="Nombre del proyecto">
					<p class="Translations_project_description_cdate">Creado: {{ proyecto.fechaCreacion }}</p>
					<p class="Translations_project_description_udate">Última modificación: {{ proyecto.fechaModificacion }}</p>		
				</div>
				<div class="Translations_project_options">
					<button onclick="edit_project_name();" class="btn_form">Editar</button>
					<button class="btn_form" onclick="show_delete_alert();">Eliminar</button>
				</div>
				<div class="Translations_project_download">
					{% csrf_token %}
					<button class="btn_form Translations_project_download_btn" onclick="download_project();">
						Descargar proyecto
					</button>
				</div>
			</div>
			
			{% for traduccion in traducciones %}
				<div class="Translations_project_container">
					<input type="hidden" id="t_{{ traduccion.id }}" value="{{ traduccion.traduccion }}">
					<div class="Translations_project_container_translation">
						<div class="Translations_project_container_image"></div>
					</div>
					<div class="Translations_project_container_info">
						<p class="Translations_project_container_info_date">{{ traduccion.fechaCreacion }}</p>
						<div class="Translations_project_container_info_stars">
							{% if traduccion.calificacion >= 1 %}
								<span class="icon-star-empty star star-selected" id="star1_{{traduccion.id}}"></span>
							{% else %}
								<span class="icon-star-empty star" id="star1_{{traduccion.id}}"></span>
							{% endif %}

							{% if traduccion.calificacion >= 2 %}
								<span class="icon-star-empty star star-selected" id="star2_{{traduccion.id}}"></span>
							{% else %}
								<span class="icon-star-empty star" id="star2_{{traduccion.id}}"></span>
							{% endif %}

							{% if traduccion.calificacion >= 3 %}
								<span class="icon-star-empty star star-selected" id="star3_{{traduccion.id}}"></span>
							{% else %}
								<span class="icon-star-empty star" id="star3_{{traduccion.id}}"></span>
							{% endif %}
							
							{% if traduccion.calificacion >= 4 %}
								<span class="icon-star-empty star star-selected" id="star4_{{traduccion.id}}"></span>
							{% else %}
								<span class="icon-star-empty star" id="star4_{{traduccion.id}}"></span>
							{% endif %}

							{% if traduccion.calificacion >= 5 %}
								<span class="icon-star-empty star star-selected" id="star5_{{traduccion.id}}"></span>
							{% else %}
								<span class="icon-star-empty star" id="star5_{{traduccion.id}}"></span>
							{% endif %}

						</div>
					</div>
					<div class="Translations_project_container_example">
						<p>{{ traduccion.traduccion }}</p>
					</div>
					<div class="Translations_project_container_copy">
						<button id="btn_t_{{ traduccion.id }}" class="btn_form Translations_project_container_btn">
							Copiar
						</button>
					</div>
				</div>
			{% endfor %}

		</div>	
	</section>

{% endblock %}